{% extends "base.html" %}
{% block content %}
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div style="text-align: left" class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                        <span>&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
    <h1>CSC2031 Blog</h1>
    <p>Sparsh Kumar (220691604) </p>
{% endblock %}