#flask framework packages
click
Flask~=3.0.3
itsdangerous
Jinja2
MarkupSafe
Werkzeug

#flask functionality packages
Flask-Login
Flask-Migrate~=4.0.7
Flask-Script
Flask-SQLAlchemy
Flask-WTF
Flask-Admin
WTForms
Flask-Limiter

SQLAlchemy~=2.0.35